body{
  margin:0;
  font-family: sans-serif , "본고딕" ;
  background-color: #dfecff;
}

img {
  width: 100%;
  text-align:center;
  margin-top: 70px;
}

.P {
  margin:0;
  font-family: sans-serif , "본고딕" ;
  background-color: #000000;
}

.p_img {
  width: 100%;
  text-align:center;
  margin-top: 120px;
}

.H {
  margin:0;
  font-family: sans-serif , "본고딕" ;
  background-color: #ffffff;
}

#nav {
  top: 0;
  transition: top 0.3s;
  position: fixed;
  width: 100%;

}

#typo {
  float:left;
  margin-left: 42px;
  font-weight: bold;
  font-size: 36pt;
  padding-top: 0px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #ffffff;
  border-bottom: 1px solid #9e9e9e;
  height: 100px;
    font-weight: bold;
    font-family: sans-serif , "본고딕" ;


}

li {
  padding-top: 30px;
  float: right;
  padding-left: 6px;



}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover span {

  width:30px
  color: #5885ef;


}

.active {
  background-color: black;
  color: white;
  margin-right: 12px;
}

.group{
  width: 100%;
}


.group .top_b {

  position: absolute;
  top: 1904%;
  left: 92%;

  background-color: black;
  text-align: center;
  padding-bottom: 3px;
  display: inline-block;
  font-size: 24px;
  font-weight: bold;
  color: #ffffff;
  border-radius: 80%;
  border: none;
  width: 50px;
  height: 50px;
  text-decoration: none;
  cursor: pointer;
  }

.top_b:hover {
  background-color: #5885ef;
}

.top_b:focus {
  outline: none;
}

.group1 .top_b01 {

  position: absolute;
  top: 2165%;
  left: 92%;

  background-color: black;
  text-align: center;
  padding-bottom: 3px;
  display: inline-block;
  font-size: 24px;
  font-weight: bold;
  color: #ffffff;
  border-radius: 80%;
  border: none;
  width: 50px;
  height: 50px;
  text-decoration: none;
  cursor: pointer;
  }

.top_b01:hover {
  background-color: #5885ef;
}

.top_b01:focus {
  outline: none;
}

.group2 .top_b02 {

  position: absolute;
  top: 1942%;
  left: 92%;

  background-color: black;
  text-align: center;
  padding-bottom: 3px;
  display: inline-block;
  font-size: 24px;
  font-weight: bold;
  color: #ffffff;
  border-radius: 80%;
  border: none;
  width: 50px;
  height: 50px;
  text-decoration: none;
  cursor: pointer;
  }

.top_b02:hover {
  background-color: #5885ef;
}

.top_b02:focus {
  outline: none;
}

/**/

.group_3 .top_b3 {

  position: absolute;
  top: 2598%;
  left: 92%;

  background-color: black;
  text-align: center;
  padding-bottom: 3px;
  display: inline-block;
  font-size: 24px;
  font-weight: bold;
  color: #ffffff;
  border-radius: 80%;
  border: none;
  width: 50px;
  height: 50px;
  text-decoration: none;
  cursor: pointer;
  }

  .top_b3:hover {
    background-color: red;

  }

  .top_b3:focus {
    outline: none;
  }


  .group_2 .top_b2 {

    position: absolute;
    top: 1702%;
    left: 92%;

    background-color: black;
    text-align: center;
    padding-bottom: 3px;
    display: inline-block;
    font-size: 24px;
    font-weight: bold;
    color: #ffffff;
    border-radius: 80%;
    border: none;
    width: 50px;
    height: 50px;
    text-decoration: none;
    cursor: pointer;
    }

    .top_b2:hover {
      background-color: red;
    }

    .top_b2:focus {
      outline: none;
    }


    .group_1 .top_b1 {

      position: absolute;
      top: 1912%;
      left: 92%;

      background-color: black;
      text-align: center;
      padding-bottom: 3px;
      display: inline-block;
      font-size: 24px;
      font-weight: bold;
      color: #ffffff;
      border-radius: 80%;
      border: none;
      width: 50px;
      height: 50px;
      text-decoration: none;
      cursor: pointer;
      }

      .top_b1:hover {
        background-color: red;
      }

      .top_b1:focus {
        outline: none;
      }
